<!DOCTYPE html>
<html class="<% if (user && user.lightTheme) { %>light<% } else { %>dark<% } %>-theme">
  <head>
    <title><%= errorCode %> – Debris</title>
    <%- include ../components/head %>
  </head>
  <body>
    <%- include ../components/user-menu %>
    <%- include ../components/header %>
    <main>
      <div class="page__name"><%= errorMessage %></div>
      <div class="page__error-code"><%= errorCode %></div>
    </main>
    <% if (user) { %>
      <script src="/scripts/user-menu.js"></script>
    <% } %>
  </body>
</html>
