<!DOCTYPE html>
<html class="<% if (user && user.lightTheme) { %>light<% } else { %>dark<% } %>-theme">
  <head>
    <title><%= user ? 'Files' : 'Welcome' %> – Debris</title>
    <%- include ../components/head %>
  </head>
  <body>
    <%- include ../components/user-menu %>
    <%- include ../components/header %>
    <main>
      <% if (user) { %>
        <%- include ../components/files %>
      <% } else { %>
        <%- include ../components/welcome %>
      <% } %>
    </main>
    <% if (user) { %>
      <script src="/scripts/user-menu.js"></script>
      <script src="/scripts/files.js"></script>
    <% } %>
  </body>
</html>
